.counter {
    display: flex;
    align-items: center;
	.icon-wrap {
		margin-right: 1.5rem;
		> span {
			position: relative;
			top: -.2em;
			font-size: 2rem;
		}
	}
	.counter-text {
		strong {
			line-height: .5;
			font-size: 3.5rem;
			@include respond (phone) {
				font-size: 2.5rem;
			}
			display: block;
			font-weight: 700;
			color: $black;
			margin-bottom: 1rem;
		}
		span {
			font-size: 1rem;
			// letter-spacing: .1rem;
			line-height: 1;
		}
	}
}