.intro-section {
	
	position: relative;
	&, .container .row {
		height: 100vh;
		min-height: 900px;
	}
	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 70%;
		background: $primary;
		border-bottom-right-radius: 0px;
		@include respond(tab-port) {
			width: 100%;
		}
	}

	h1 {
		@include themeTextShadow;
		font-size: 3rem;
		font-weight: 900;
		color: $white;
	}
	p {
		color: $white;
		font-size: 1.1rem;
		max-width: 400px;
	}
}

.img-absolute {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	img {
		max-width: 600px;
		box-shadow: 0 10px 10px -5px rgba(0,0,0,.4);
		@include respond(tab-port) {
			max-width: 100%;
		}
	}
}