.navButton {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: #fff;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: -2px -2px 8px rgba(255,255,255,1),
                    -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    2px 2px 8px rgba(0,0,0,0.15);
        &:hover{
            box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                        inset -2px -2px 12px rgba(255,255,255,0.5),
                        inset 2px 2px 4px rgba(255,255,255,0.1),
                        inset 2px 2px 8px rgba(0,0,0,0.15);  
            span{
                display: inline-block;
                transform: scale(0.98);
            }
            @include respond(phone){
                box-shadow: -2px -2px 8px rgba(255,255,255,1),
                    -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    2px 2px 8px rgba(0,0,0,0.15);
                span{
                    display: inline-block;
                    transform: scale(1);
                }
            }
            @include respond(tab-port){
                box-shadow: -2px -2px 8px rgba(255,255,255,1),
                    -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    2px 2px 8px rgba(0,0,0,0.15);
                span{
                    display: inline-block;
                    transform: scale(1);
                }
            }
            @include respond(tab-land){
                box-shadow: -2px -2px 8px rgba(255,255,255,1),
                    -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    2px 2px 8px rgba(0,0,0,0.15);
                span{
                    display: inline-block;
                    transform: scale(1);
                }
            }
        }
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 3rem;
            right: 3rem;
        }

        @include respond(phone) {
            height: 4rem;
            width: 4rem;
            top: 2rem;
            right: 2rem;
        }
    }

    &__background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 6.5rem;
        background-image: radial-gradient(#07145ece, #0d0f1b38);
        z-index: 1000;
        transition: transform .4s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {
            top: 3.5rem;
            right: 3.5rem;
        }

        @include respond(phone) {
            height: 3rem;
            width: 3rem;
            top: 2.5rem;
            right: 2.5rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        //transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all .4s;
        width: 100%;

    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: max-content;
        &:hover{
            .navButton__item{
                .navButton__link{
                    opacity: 0;
                }
            }
        }
        .navButton__item{
            &:hover{
                &::before{
                    opacity: 0.05;
                    letter-spacing: 0px;
                }
            }
            &::before{
                content: attr(data-text);
                @include absCenter;
                color: #fff;
                font-size: 20rem;
                font-weight: 700;
                pointer-events: none;
                opacity: 0;
                letter-spacing: 20px;
                transition: 0.5s;
                white-space: nowrap;

            }
            .navButton__link {
                overflow: hidden;
                &:hover{
                   transform: scale(1.4); 
                   z-index: 10000;
                   background: #ff3f81;
                   opacity: 1;
                   &::before{
                       left: calc(100% + 100px);
                       transition: 0.5s;
                       transition-delay: 0.2s;
                   }
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -1000px;
                    width: 80px;
                    height: 100%;
                    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.8), transparent);
                    transform: skew(35deg);
                    transition: 0s;
                }
            }
        }
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        display: inline-block;
        font-size: xx-large;
        font-weight: 600;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-size: 237%;
        transition: all .4s;
        cursor: pointer;
        @include respond(phone) {
            font-size: 1.5rem;
        }
    }

    &__heading {
        color: #fff;
        font-size: 3rem;
    }

    //FUNCTIONALITY
    &__clicked {
        transform: scale(80);
    }

    &__nav__transform {
        transform: translate(-60%,-70%);
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 2.5rem;

        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: #5a84a2;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        @include respond(phone) {
            margin-top: 1.9rem;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__checkbox__checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox__checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox__checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}