.popup-modal{
    color: $black;
    .close-modal{
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
    }
    .title{
        width: 100%;
        border-bottom: 1px solid gray;
        background-color: $primary;
        color: $white;
        font-size: 30px;
        text-align: center;
        padding: 5px;
        font-weight: 600;
    }
    .content{
        display: flex;
        flex-direction: row;
        padding: 10px;
        .image{
            img{
                width: 300px;
                height: 300px;
            }
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: justify;
            padding: 20px; 
        }
    }
}
.read-more-modal{
    cursor: pointer;
    font-size: larger;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .2s;
    text-align: right;
    color: $primary-light;
    &:hover{
        transform: translateX(6px);
    }
}