.popup-modal{
    color: $black;
    width: 100%;
    .close-modal{
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -12px;
        width: 50px;
        top: 17px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
    }
    .title{
        width: 100%;
        border-bottom: 1px solid gray;
        background-color: $primary;
        color: $white;
        font-size: 30px;
        text-align: center;
        padding: 5px;
        font-weight: 600;
    }
    .content{
        display: flex;
        flex-direction: row;
        padding: 10px;
        @include respond (phone){
            flex-direction: column;
        }
        .image{
            @include respond(phone){
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                width: 300px;
                height: 300px;
                @include respond(phone){
                    width: 250px;
                    height: 250px;
                }
            }
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: justify;
            padding: 20px; 
        }
    }
}
.read-more-modal{
    cursor: pointer;
    font-size: larger;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .2s;
    text-align: right;
    color: $primary-light;
    &:hover{
        transform: translateX(6px);
    }
}

.popup-content{
    overflow-y: scroll;
    overflow-x: hidden;
    @include respond (phone){
        width: 90% !important;
        max-height: 80%;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

.popup-overlay {
    z-index: 9999999999999 !important;
}