.button{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
    color:#fff;
    font-size: large;
    border-radius: 40px;
    @include themeShadow;
    &:hover{
        color:#fff;
    }
}